header {
    background-color: #002244;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    border-bottom: 10px solid #000;
}

nav {
    text-align: right;
}

a {
    display: inline-flex;
    align-items: center;

    color: #fff;
    font-size: 20px;
    font-family: "Fira Code", Arial, Helvetica, sans-serif;
    text-decoration: none;
    font-weight: 500;
    margin-right: 30px;
}

a::before {
    content: "";
    background-color: #A58D4E;
    width: 10px;
    height: 10px;
    margin-right: 10px;
    
}

#button {
    display: inline-block;
    background-color: #A58D4E;
    padding: 18px 20px;
    box-shadow: 5px 5px 0px #000;
    margin-right: 0;
    transition: transform 100ms linear;
}

#button:hover {
    transform: scale(1.08);
}





























/* .banner {
    display: flex;
    align-items: center;
    justify-content: center;
    place-items: center;

    border-bottom: 10px solid #000;
    width: 100%;
    height: 800px;

    background-position: center;
    background-repeat: no-repeat;
    background-image: url(/assets/img/photo.svg);
    background-size: cover;
    position: relative;
}

.container-2 {
    display: flex;
    justify-content: space-around;
    padding-top: 40px;
}

.name {
    display: flex;
    margin: auto;
    max-width: 627px;

    color: #fff;
    background-color: #002244;
    padding: 32px 40px;
    box-shadow: 10px 10px 0px #000;

    font-family: 'GFS Didot', serif, Arial, Helvetica;
    text-align: center;
    font-size: 50px;
    font-weight: 500;
    text-shadow: 3px 3px 5px #000;
}

.btn-1 {
    display: flex;
    min-width: 150px;
    
    background-color: #A58D4E;
    padding: 18px 20px;
    box-shadow: 5px 5px 0px #000;
    margin-right: 0;
    transition: transform 100ms linear;
}

.btn-1:hover {
    transform: scale(1.08);
} */







































/* nav {
    display: flex;
    justify-content: flex-end;
} */