.box {
    display: inline-block;
    width: 627px;
    background-color: #453630;
    box-shadow: 10px 10px 0px #000;
    text-align: center;
    padding: 42px 0px;
}

.box .main-title {
    margin-bottom: 15px;
}