.main-button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #9B7E4B;
    width: 170px;
    height: 60px;
    box-shadow: 5px 5px 0px #000;
    transition: transform 100ms linear;
    font-size: 20px;
    color: #fff;
    text-decoration: none;
    border-radius: 50px;
}

.main-button:hover {
    transform: scale(1.08);
}