.main-header {
    position: fixed;
    background-color: #453630;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    width: 100%;
}

.main-header .profile-pic {
    border-radius: 50px;
}

.main-header .button {
    margin-right: 40px;
}